root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8

trim_trailing_whitespace = true
trim_trailing_white_space_on_save = true
draw_white_space = all

insert_final_newline = true
